@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

/* font-family: 'Lato', sans-serif;
*/

/* Colors
#77ABD9 #BBF244 #70A823 #D9D3C7 #402116 */


html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
nav{
    font-family: 'Lato', sans-serif;
    position: fixed;
    top: 0;
    font-size: 0.8em;
    text-align: right;
    width: 100%;
    background: #BBF244;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);      
}
nav ul li{
    display: inline;
    padding-right: 1em;
}
a{
    font-family: 'Lato', sans-serif;
    color: #402116;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#home{
    margin: 0;
    padding: 0;
    background: url(../img/alps.svg) center no-repeat;
    background-color: #BBF244;
    background-blend-mode: multiply;
    height: 100vh;
}
h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-size: 4em;
    color: #402116;
    padding: 2em 50% 0 20%;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 2em;
    color: #402116;
    text-align: center;
    padding: 0;
}
h5 {
    font-weight: 900;
    font-size: 1em;
}
article a:nth-of-type(1) {
    background: rgb(80, 159, 4);
    padding: 12px 4em;
    border-radius: 4px;
    top: 90vh;
    position: absolute;
    top: 90%;
    right: 36%;
    font-size: 18px;
}
h1 span {
    font-family: 'Lato', sans-serif;
    font-size: 1.74em;
    line-height: 4.5rem;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    color: #402116;
    margin: 0;
}
.psmall {
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    color: #402116;
    text-align: center;
    padding-bottom: 1em;
    display: inline;
}
.pp {
    text-align: center;
}
.headline {
    margin-top: -44px;
}
.header {
    width: 5em;
    padding: 4em 0 0 1em;
}
.space {
    padding-top: 1em;
}
.button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.imgL {
    width: 26%;
    margin-left: 7%;
}
.whiteSh {
    color: white;
    text-shadow: 3px 3px 2px black;
}
.imgC {
    width: 26%;
    margin: 0 3%;
}
.imgR {
    width: 26%;
    margin-right: 7%;
}
.img-L {
    width: 35%;
    margin-left: 10%;
    margin-right: 8%;}
.img-R {
    width: 35%;
    margin-right: 10%;
}
.img-tagL {
    width: 30%;
    margin-left: 30%;
    margin-right: 3%;}
.img-tagR {
    width: 30%;
    margin-right: 5%;
}
#stationen{
    height: 100vh;
    background: #D9D3C7;
}
#teilnehmer{
    height: 100vh;
    background: url(../img/IMG_0292.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#dayone{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#daytwo{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#daythree{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#dayfour{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#dayfive{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
#daysix{
    height: 100vh;
    background: url(../img/IMG_0170.jpg) center/cover no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: soft-light;
}
